/Проектирование устойчивой спутниковой группировки — Критерии оценки.pdf
/Проектирование устойчивой спутниковой группировки — Описание данных.pdf
/Проектирование устойчивой спутниковой группировки — Постановка задачи.pdf